[submodule "assignment-autotest"]
	path = assignment-autotest
	url = https://github.com/cu-ecen-5013/assignment-autotest
[submodule "buildroot"]
	path = buildroot
	url = https://git.busybox.net/buildroot/
[submodule "assignment-4-dmoneyballer"]
	path = .
	url = https://github.com/cu-ecen-aeld/assignment-4-dmoneyballer
